:root {
  --chart-1: 239 84% 67%;
  --chart-2: 258 90% 66%;
  --chart-3: 192 91% 36%;
  --chart-4: 142 71% 45%;
  --chart-5: 38 92% 50%;
}
.dark {
  --chart-1: 239 84% 67%;
  --chart-2: 258 90% 66%;
  --chart-3: 189 94% 43%;
  --chart-4: 142 71% 45%;
  --chart-5: 38 92% 50%;
}
